@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* Debugging outline */
    /*outline: 1px solid red;*/
  }

  html, body {
    @apply m-0 p-0 bg-[#f8f7f3] text-[#272727] font-winky font-medium overflow-x-hidden;
    /*min-width: 100vw;*/
    /*place-items: center;*/
  }

  /* custom scrollbar styling */
  html {
    scrollbar-width: thin;
    scrollbar-color: #272727 transparent;
  }
}

@layer components {
  .header {
    @apply leading-tight text-5xl;
  }

  .logo {
    @apply h-40 p-6 transition filter will-change-auto;
    transition-duration: 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em rgba(0, 14, 255, 0.67));
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em rgba(0, 35, 44, 0.67));
  }

  .read-the-docs {
    @apply text-gray-500; /* optional color #888 */
  }
}

@layer utilities {
  .bg-grid {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'><path d='M0 0H50V50H0z' fill='none' stroke='%23dbdbdb' stroke-width='2' stroke-linecap='square'/></svg>") repeat fixed;
  }
}